<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="baseUrl" value="http://api-staging.parrot.rest" />
    <add key="loginUrl" value="/api/auth/token" />
    <add key="refreshUrl" value="/api/auth/token/refresh" />
    <add key="validateUrl" value="/api/auth/token/test" />
    <add key="storesUrl" value="/api/v1/users/me" />
    <add key="getProductsUrl" value="/api/v1/products/?store=" />
    <add key="updateProductUrl" value="/api/v1/products/{0}/availability" />
  </appSettings>
</configuration>